[project]
	description = My Leetcode Practice
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/wangruowen (wangruowen)
[access "refs/for/refs/*"]
	read = group user/wangruowen (wangruowen)
	push = group user/wangruowen (wangruowen)
	label-Code-Review = -2..+2 group user/wangruowen (wangruowen)
	label-Verified = -1..+1 group user/wangruowen (wangruowen)
	rebase = group user/wangruowen (wangruowen)
	removeReviewer = group user/wangruowen (wangruowen)
	submit = group user/wangruowen (wangruowen)
[access "refs/heads/*"]
	read = group user/wangruowen (wangruowen)
	create = group user/wangruowen (wangruowen)
	push = +force group user/wangruowen (wangruowen)
	pushMerge = group user/wangruowen (wangruowen)
[access "refs/tags/*"]
	push = +force group user/wangruowen (wangruowen)
	pushTag = group user/wangruowen (wangruowen)
	pushSignedTag = group user/wangruowen (wangruowen)
